# Local .terraform directories
**/.terraform/*
**/.terraform.*

# .tfstate files
*.tfstate
**/*.tfstate
*.tfstate.*
**/*.tfstate.*

# Ignore CLI configuration files
.terraformrc
**/.terraformrc
terraform.rc
**/terraform.rc
.terraform
